body {
  font-family: 'Just Another Hand';
}

div {
    width: 50%;
    align: center;
    margin: auto;
    border: 0em solid white;
}

h1 {
    text-align: center;
}

table {
    border: 0em;
    align: center;
    margin: auto;
}

tr {
    width: 50%;
    height: 50%;
}
td {
    height: 15em;
    width: 7em;
    border: 0.2em solid white;
}

#first {
    background-color: #4b296b;
}

#second {
    background-color: #4c2c72;
}

#third {
    background-color: #77867f;
}
#fourth {
    background-color: #87b37a;
}

#fifth {
    background-color: #9ce37d;
}

